<section id="indeterminate">
  <div class="page-header">
    <h1>Indeterminate checkbox</h1>
  </div>
  <div class="row">
    <div class="span6">
      <h3>What?</h3>

      <p>Provides an easy way to toggle a checkbox input's special 'indeterminate' property. This is a visual toggle only and in no way affects the model or value outside of native browser behavior at this time.</p>

      <p class="well">
        <label>Indeterminate: <input type="checkbox" ui-indeterminate="isKnown" readonly></label><br>
        <label>Toggle indeterminate here: <input type="checkbox" ng-model="isKnown"></label>
      </p>

      <h3>Why?</h3>

      <p>Convenience.</p>
    </div>
    <div class="span6">
      <h3>How?</h3>

<pre class="prettyprint">
Indeterminate: &lt;input type=&quot;checkbox&quot; ui-indeterminate=&quot;isKnown&quot; readonly&gt;
Toggle indeterminate here: &lt;input type=&quot;checkbox&quot; ng-model=&quot;isKnown&quot;&gt;
</pre>
    </div>
  </div>
</section>
